/*.sdf
/intel_ros.opensdf
/intel_ros.v11.suo
/voice_synthesis/Debug
/voice_synthesis/Release
/voice_recognition/Debug
/voice_recognition/Release
/test/Release
/intel_ros/Debug
/intel_ros/Release
/Release
/rgbd_collector/Release
/gesture_recognition/Release
